/* .card { */
/* width: 30%; */
/* position: relative;
  margin-right: 5%;
  flex-wrap: wrap;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin-bottom: 50px; */
/* } */
.card:hover {
  transform: translateY(-5px);
}

.card.row__3:nth-child(3n) {
  margin-right: 0;
}

.row__2.card:nth-child(3n) {
  margin-right: 5%;
}

.description {
  padding: 15px 25px;
}

.card__main {
  position: relative;
  background-color: #1c1c1c;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
  text-align: center;
  height: 40vh;
}
/* .card img {
} */

.card__main img {
  z-index: -1;
  width: 100%;
  min-height: 250px;
  opacity: 0.55;
}

.card__description {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: left;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  padding: 8%;
  display: flex;
  width: 84%;
  justify-content: space-between;
}

.card__description p {
  color: #ccc;
  font-weight: 200;
}

.card__description p:focus {
  outline: none;
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
}

.card__tag {
  word-break: break-all;
  padding: 0.1rem 0.4rem;
  background: #f7a619;
  border-radius: 3px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.card__tag p {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.card__description h3 {
  color: #fff;
  /* margin: 10px 0; */
}

.icon__container {
  background: #1f1f1f99;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -khtml-border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  /* height: 30px;
  width: 30px; */
}

.card__description__icon {
  font-size: 20px;
  transition: 0.2s;
}
.icon__container:hover {
  background: #f7a619;
}
.card__description__body {
  padding: 0 10px;
  text-overflow: ellipsis;
  flex-grow: 1;
  align-items: flex-start;
}
.active__icon__container {
  background: #2ec738 !important;
}
.card__footer {
  padding: 5% 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(238, 238, 238);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__footer p {
  font-size: 1.5rem;
  font-weight: 500;
}

.descCard {
  /* word-break: break-all; */
  text-overflow: clip;
}

.card {
  width: 47%;
  padding: 10px 0;
  transition: 0.1s;
}

.card:last-child {
  justify-content: flex-start;
  align-self: flex-start;
  display: block;
  float: left;
}

.card__sm {
  width: 48%;
}

/* @media (max-width: 938px) {
  .card {
    width: 45%;
  }
  .card__sm {
    width: 45%;
  }
} */

@media (max-width: 950px) {
  .card__sm {
    width: 95%;
  }
}

@media (max-width: 750px) {
  .card {
    width: 100%;
    margin: auto;
    /* padding */
  }
}
