.button {
  background-color: #f7a619;
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.3rem;
}

.button_md {
  padding: 0.4rem 0.9rem;
  font-size: 1.1rem;
  border-radius: 1.3rem;
}

.button_lg {
  padding: 0.6rem 1.4rem;
  font-size: 1.3rem;
  border-radius: 1.7rem;
}

.button_xl {
  padding: 0.85rem 1.7rem;
  font-size: 1.6rem;
  border-radius: 2rem;
}

.uppercase {
  text-transform: uppercase;
}

.button__icon {
  padding: 0.4rem 0.9rem;
}
