.mobile {
  display: none;
}
@media (max-width: 565px) {
  .mobile {
    display: block;
  }
}
@media (max-width: 565px) {
  .mobile_none {
    display: none;
  }
}
.login__background {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.login__background_img {
  height: 60vh;
  background: url("../../assets/planet.jpg") no-repeat;
}
.mask {
  width: 100%;
  height: 100%;
}
.mask.gray {
  background-color: rgba(51, 51, 51, 0.9);
}
.mask.lightgray {
  background-color: rgba(51, 51, 51, 0.5);
}
.mask.lightblack {
  background-color: rgba(0, 0, 0, 0.25);
  transition: 0.2s ease;
}
.mask.lightblack:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.mask.black {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}
.mask.black:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.phone__login_title {
  color: white;
}
.blur {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backdrop-filter: blur(0.1875rem);
}
.login__description_inner {
  width: 50%;
  padding: 10rem 5rem;
  font-size: 1.5rem;
  color: rgba(223, 223, 223, 0.865);
}
@media (max-width: 1600px) {
  .login__description_inner {
    padding: 3rem;
    font-size: 1.5rem;
    box-sizing: border-box;
    margin-top: 80px;
  }
}
@media (max-width: 991px) {
  .login__description_inner {
    padding: 3rem;
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .login__description_inner {
    font-size: 1rem;
  }
}
.login__title {
  margin-bottom: 2rem;
  font-size: 2em;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .login__title {
    white-space: normal;
  }
}
@media (max-width: 767px) {
  .login__title {
    margin-bottom: 0;
  }
}
.maskphone {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 565px) {
  .maskphone {
    height: 100vh;
  }
}
.phones__img {
  height: 45rem;
}
@media (max-width: 1920px) {
  .phones__img {
    height: 40rem;
  }
}
@media (max-width: 991px) {
  .phones__img {
    height: 45rem;
  }
}
@media (max-width: 767px) {
  .phones__img {
    height: 34rem;
  }
}
@media (max-width: 565px) {
  .phones__img {
    height: 25rem;
    margin-top: 4rem;
  }
}
@media (max-width: 380px) {
  .phones__img {
    height: 18rem;
  }
}
.phone.modal-phone {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone__body {
  width: 20rem;
  height: 42rem;
  position: absolute;
  right: 20%;
  top: 20%;
  z-index: 2;
  overflow: hidden;
  background-color: #333;
  border: 0.3rem solid #000;
  border-radius: 1.5rem;
  box-shadow: 0 -0.15rem 0 rgba(255, 255, 255, 0.5);
}
@media (max-width: 1600px) {
  .phone__body {
    width: 16rem;
    height: 33.6rem;
    top: 15%;
    right: 10rem;
  }
}
@media (max-width: 1366px) {
  .phone__body {
    right: 3rem;
  }
}
@media (max-width: 991px) {
  .phone__body {
    width: 14.4rem;
    height: 30.24rem;
    top: 20%;
    border-radius: 1.2rem;
  }
}
@media (max-width: 565px) {
  .phone__body {
    width: 100%;
    height: 100%;
    position: static;
    border: 0;
    border-radius: 0;
  }
}
.phone__body.modal-phone {
  position: relative;
  top: 0;
  left: 0;
}
@media (max-width: 565px) {
  .phone__body.modal-phone {
    width: 14.4rem;
    height: 30.24rem;
    position: relative;
    top: 2rem;
    border: 0.3rem solid #000;
    border-radius: 2rem;
    box-shadow: 0 -0.15rem 0 rgba(255, 255, 255, 0.5);
  }
}
.phone__background {
  width: auto;
  height: 100%;
}
@media (max-width: 565px) {
  .phone__background {
    height: 100vh;
  }
}
.phone__background_img {
  height: 100%;
  animation: go-left-right 25s infinite alternate linear;
  position: relative;
}
.phone__content {
  height: 100%;
  position: relative;
}
.phone__content_inner {
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* @media (max-width: 565px) {
  .phone__content_inner {
    margin-bottom: 4rem;
    width: 90%;
  }
} */
.log__sign {
  display: flex;
  justify-content: space-between;
}
.phone__login-title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}
.phone__sign_a {
  margin-top: 0.3rem;
  font-size: 1rem;
  color: #fff;
}
/* .phone__sign_a:hover {
  opacity: 80%;
} */
.phone__forms {
  width: 100%;
  padding: 1rem 0;
}
.phone__email_form,
.phone__password_form {
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border: 0.1rem solid #333;
  border-radius: 0.5rem;
  backdrop-filter: blur(0.1rem);
  background-color: rgba(51, 51, 51, 0.25);
  font-size: 0.8rem;
  font-family: "Montserrat";
  color: #fff;
}
@media (max-width: 1600px) {
  .phone__email_form,
  .phone__password_form {
    height: 2.5rem;
  }
}
@media (max-width: 991px) {
  .phone__email_form,
  .phone__password_form {
    height: 2rem;
  }
}
@media (max-width: 565px) {
  .phone__email_form,
  .phone__password_form {
    height: 3rem;
  }
}
.phone__login_btn,
.phone__loginfacebook_btn {
  width: 100%;
  height: 3rem;
  margin-bottom: 0.5rem;
  border: 0;
  border-radius: 0.5rem;
  font-size: 1rem;
  /* font-family: "Montserrat"; */
  color: #fff;
  cursor: pointer;
  transition: 0.2s linear;
}
/* .phone__login_btn:hover,
.phone__loginfacebook_btn:hover {
  opacity: 85%;
} */
@media (max-width: 1600px) {
  .phone__login_btn,
  .phone__loginfacebook_btn {
    height: 2.5rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 991px) {
  .phone__login_btn,
  .phone__loginfacebook_btn {
    height: 2rem;
    font-size: 0.6rem;
  }
}
@media (max-width: 565px) {
  .phone__login_btn,
  .phone__loginfacebook_btn {
    height: 3rem;
    font-size: 1rem;
  }
}
.phone__login_btn {
  background-color: #cd9e6d;
}
.phone__loginfacebook_btn {
  backdrop-filter: blur(0.2rem);
  background-color: rgba(247, 247, 247, 0.25);
}
.login__slogan {
  width: 100%;
  height: 25vh;
  position: relative;
  z-index: 0;
  margin-bottom: 6rem;
}
@media (max-width: 1366px) {
  .login__slogan {
    height: 20vh;
  }
}
@media (max-width: 991px) {
  .login__slogan {
    height: 27vh;
  }
}
.login__slogan_inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5rem;
}
@media (max-width: 991px) {
  .login__slogan_inner {
    padding: 0 3rem;
  }
}
@media (max-width: 767px) {
  .login__slogan_inner {
    width: 60%;
  }
}
.login__slogan_text {
  font-size: 3.75rem;
  font-weight: 600;
}
@media (max-width: 1366px) {
  .login__slogan_text {
    font-size: 3rem;
  }
}
@media (max-width: 991px) {
  .login__slogan_text {
    font-size: 2rem;
  }
}
.login {
  width: 5rem;
  height: 100%;
  padding: 1.25rem 0;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  color: #000;
  cursor: pointer;
}
@media (max-width: 767px) {
  .login {
    display: none;
  }
}
.login__text.index {
  color: #fff;
}
@media (max-width: 991px) {
  .login__text.index {
    color: #000;
  }
}

.language,
.login__text,
.burger__btn {
  color: #000;
}
.burger__btn.phone {
  display: none;
  background-color: #fff;
}
@media (max-width: 565px) {
  .burger__btn.phone {
    display: block;
  }
}
.burger.phone {
  height: 4rem;
}

@keyframes go-left-right {
  from {
    left: 0px;
  }
  to {
    left: -100%;
  }
}

*:before,
*:after {
  box-sizing: border-box;
}
