.checkout__card__container {
  padding: 20px 40px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.checkout__card {
  display: flex;
  flex-direction: column;
}

.checkout__card__main {
  display: flex;
  align-items: center;
}
.checkout__card__main h3 {
  font-weight: 400;
  word-break: break-word;
}
.checkout__card__main p {
  font-weight: 300;
}
.checkout__card__price {
  color: #f7a619;
}

.checkout__card__main img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  object-position: 40% 0;
  margin-right: 20px;
  border-radius: 10px;
}

.checkout__footer {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.checkout__footer h3 {
  align-self: flex-end;
  margin-right: 15px;
}
.checkout__footer h2 {
  margin-right: 40px;
  font-size: 2.5rem;
}
.checkout__empty {
  text-align: center;
  padding-top: 100px;
  font-weight: bolder;
  font-size: 2.5em;
}

.btnTrash {
  display: none;
}

.checkout__card__desc {
  word-break: break-all;
  width: 60%;
  color: black;
  padding: 10px;
}

@media (max-width: 500px) {
  .checkout__card,
  .checkout__footer {
    padding: 15px;
  }
  .checkout__card__desc {
    word-break: break-all;
    text-decoration: none;
    color: black;
  }
  .btnTrash {
    display: block;
    background-color: red;
    padding: 10px;
    color: white;
    border-radius: 25px;
    margin: 5px;
  }
  .checkout__footer > h2 {
    margin-right: 15px;
  }
}
.button {
  background-color: #f7a619;
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.3rem;
}

.button_md {
  padding: 0.4rem 0;
  width: 100px;
  font-size: 1.1rem;
  border-radius: 1.3rem;
}

.card__description__icon {
  align-self: flex-end;
  padding: 10px;
  background: #1f1f1f99;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.card__description__icon:hover {
  background: #f7a619;
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.card__tag {
  word-break: break-all;
  padding: 0.1rem 0.4rem;
  background: #f7a619;
  border-radius: 3px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.card__tag p {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.active_button {
  background: #2ec738;
}
