body {
  font-size: 16px;
  font-family: "Montserrat";
}

.container {
  width: 100%;
  height: 100%;
}

.container_block {
  height: 100%;
  /* margin: 0 auto; */
}

.container__inner {
  height: 100%;
  padding: 4rem 0 0 0;
  margin-top: 50px;
}

.intro {
  width: 100%;
  height: 100%;
  /* margin: auto; */
  display: flex;
  justify-content: space-around;
}

.intro__preview {
  height: 100%;
  width: 70%;
}

.preview__inner {
  width: 100%;
  height: 100%;

  padding: 3rem 0;

  display: flex;
  justify-content: center;
}

.preview__img {
  width: 100%;
  object-fit: cover;
}

.description__inner {
  min-width: 28rem;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description__top {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 20px 0;
  /* padding: 3rem 2rem; */
}

.actions__container {
  /* max-height: 475px; */
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.043), 0 10px 10px rgba(0, 0, 0, 0.023);
}

.price {
  padding: 2rem 0;

  display: flex;
  justify-content: space-between;

  font-size: 2rem;
  color: rgb(247, 166, 25);
}

.price__from {
  margin-right: 1rem;
  color: #000;
}

.description__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 60%;
}

.keywords {
  /* display: flex;
  justify-content: space-around; */
  /* align-items: center; */
  text-align: center;
  border: 0.5px solid gray;
  padding: 1rem;
  border-radius: 1rem;
  /* max-width: 65%; */
  /* flex-wrap: wrap; */
}

.keywoards__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.up {
  position: fixed;
  bottom: 25px;
  right: 25px;
  border-radius: 50px;
  background-color: gray;
  padding: 0.8rem 1rem;
  text-align: center;
}

/* 
.technologies{
  max-width: 30%;
} */

.title__text {
  font-size: 3rem;
  padding-right: 1rem;
  padding: 2rem 0;
  font-weight: 500;
}

.title__category {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  border: 0.1rem solid rgb(247, 166, 25);
  border-radius: 4rem;
  font-size: 1rem;
  font-weight: 300;
  color: rgb(247, 166, 25);
}

.description__subtitle {
  font-size: 2rem;
  word-break: break-word;
}

.description__text {
  font-size: 1.2rem;
}

/*.description__buttons {
   display: flex;
  justify-content: space-between; 
}*/

.description__button {
  padding: 1rem;
  width: 100%;
  border: 0.1rem solid rgb(247, 166, 25);
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: transparent;

  font-size: 1.5rem;
  color: rgb(247, 166, 25);
}

.incart {
  border: 0.1rem solid green;
  border-radius: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  background-color: green;
}

.carousel__item {
  transition: 0.5s;
  transform: scale(0.8);
  opacity: 0.8;
  /* position: absolute; */
}
.carousel__item__secondary {
  /* transform: scale(0.8); */
  transition: 0.5s;
}

.carousel__item__active {
  opacity: 1;
  transform: scale(1);
  z-index: 100;
}

.carousel__item__mainImg {
  text-align: center;
}
.mainImg {
  max-height: 540px;
  height: 60vw;
  transition: 0.2s;
  border-radius: 30px;
}

.carousel__item__disabled {
  transform: scale(0.8);
}

.carousel__item__img {
  width: 25vw;
  max-width: 250px;
  max-height: 540px;
  height: 60vw;
  transition: 0.2s;
  border-radius: 30px;
}

@media (max-width: 600px) {
  .carousel__item__img {
    max-width: 200px;
  }
}

.carousel__item__img__web {
  height: 40vw;
  max-height: 350px;
  max-width: 540px;
  width: 60vw;
  transition: 0.2s;
  border-radius: 30px;
}

.description__button.buy {
  border: none;

  background-color: #000;

  color: #fff;
}

@media (max-width: 1366px) {
}

@media (max-width: 991px) {
  .container__inner {
    padding: 4rem 0 1rem 0;
  }

  .intro {
    flex-wrap: wrap;
  }

  .intro__preview {
    width: 100%;
  }

  .intro__description {
    width: 100%;
  }

  .description__title {
    flex-wrap: wrap;
    padding: 0;
  }
  .pagination {
    padding: 0 1rem;
  }
}

@media (max-width: 575px) {
  .preview__img {
    width: 100%;
  }

  .description__inner {
    min-width: 0;

    padding: 0.5rem;
  }

  .description__button {
    height: 50px;
    padding: 10px;
  }
  .incart {
    height: 50px;
    padding: 10px;
  }
  .description__title {
    flex-wrap: wrap;
  }

  .title__text {
    font-size: 2rem;
    /* width: 75%; */
    word-break: break-all;
  }

  .title__category {
    margin: 1rem 7px 10px 0;
    word-break: break-all;
  }

  .price {
    padding: 2rem 0;
    font-size: 2rem;
    text-align: center;
  }

  .price__count,
  .price__from {
    width: 100%;
  }

  .description__buttons {
    flex-wrap: wrap;
  }
}

.lists {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flexbox;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
  max-width: 400px;
}
.list {
  padding: 5px 0;
  cursor: pointer;
}

.list_active {
  border-bottom: 2px solid orange;
}

.list_block {
  padding: 4rem 1rem;
}

.list_info {
  max-width: 700px;
  margin: auto;
  word-break: break-all;
}
.dflex {
  display: flex;
}
.list_click_active {
  color: orange;
}

@media (max-width: 800px) {
  .container_block {
    width: 100%;
  }
  .intro {
    width: 95%;
    margin: 0 auto;
  }
  .actions__container {
    width: 85%;
  }
  .title__text {
    font-size: 1.6rem;
    padding: 1rem;
  }
  .description__top {
    padding: 10px;
    flex-direction: column;
    margin: 5px 0 10px 0;
  }
  .description__buttons {
    display: flex;
    /* width: 90; */
  }
  .keywords {
    max-width: initial;
  }
  .carousel {
    width: 100%;
    /* min-height: 400px; */
  }
  .carousel__item__img {
    width: 100vw;
    height: 120vw;
  }
}
.pagination {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.644);
}
.pagination__active {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.386);
}
.pagination__current {
  text-decoration: none;
  color: gray;
}
.pagination__category__current {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.363);
}
