.checkout {
  margin: auto;
  max-width: 1200px;
  padding: 200px 0;
}
.checkout__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.checkout__card__main img {
  height: 120px;
  width: 120px;
  border-radius: 10px;
  object-fit: cover;
  object-position: 50% 0;
  margin-right: 20px;
}

.checkout__card__main {
  display: flex;
  align-items: center;
}
.checkout__card__main h3 {
  font-weight: 400;
  word-break: break-word;
}
.checkout__card__main p {
  font-weight: 300;
}
.checkout__card__price {
  color: #f7a619;
}
.checkout__footer {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.checkout__footer h3 {
  align-self: flex-end;
  margin-right: 15px;
}
.checkout__footer h2 {
  margin-right: 40px;
  font-size: 2.5rem;
}
.checkout__empty {
  text-align: center;
  padding-top: 100px;
  font-weight: bolder;
  font-size: 2.5em;
}

.btnTrash {
  display: none;
}

.checkout__card__desc {
  word-break: break-all;
  text-decoration: none;
  color: black;
  padding: 10px;
}

@media (max-width: 500px) {
  .checkout__card,
  .checkout__footer {
    padding: 15px;
  }
  .checkout__card__desc {
    word-break: break-all;
    text-decoration: none;
    color: black;
  }
  .btnTrash {
    display: block;
    background-color: red;
    padding: 10px;
    color: white;
    border-radius: 25px;
    margin: 5px;
  }
  .checkout__options > button {
    display: none;
  }
  .checkout__footer > h2 {
    margin-right: 15px;
  }
}
.button {
  background-color: #f7a619;
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.3rem;
}

.button_md {
  padding: 0.4rem 0.9rem;
  font-size: 1.1rem;
  border-radius: 1.3rem;
}
