.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 500px;
  padding: 40px 45px 40px 45px;
  border-radius: 40px;
  background-color: #fff8f8;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.098), 0 10px 10px rgba(0, 0, 0, 0.064);
}

.main {
}

.container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.button {
  color: white;
  font-weight: bold;
  background-color: red;
  padding: 10px 20px;
  border-radius: 20px;
}

.cancel__button {
  color: rgb(133, 133, 133);
  padding: 10px 20px;
  border-radius: 20px;

  font-weight: bold;
}
