.container {
  margin-bottom: 1rem;
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  padding: 0.5rem 1rem;
  border: 0.1rem solid #333;
  border-radius: 0.5rem;
  backdrop-filter: blur(0.1rem);
  background-color: rgba(51, 51, 51, 0.25);
  font-size: 0.8rem;
  font-family: "Montserrat";
  color: #fff;
}

.input:focus {
  outline: none;
}

.error__input {
  border-bottom: 1px solid rgb(255, 87, 87);
  margin-bottom: 5px;
}

.error__message {
  color: rgb(255, 87, 87);
  font-size: 0.7rem;
}

.error__icon {
  font-size: 1rem;
  margin-right: 10px;
}
