.profile {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__main {
  display: flex;
  align-items: center;
}

.profile__info {
  flex-grow: 1;
}

.profile__info h2 {
  font-weight: 400;
}
.profile__main img {
  object-fit: contain;
  width: 25%;
}

.profile__info__fields {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 500px;
  padding: 50px 45px 100px 45px;
  border-radius: 40px;
  background-color: #fff8f8;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.098), 0 10px 10px rgba(0, 0, 0, 0.064);
}

.profile__info__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__info__title span {
  font-weight: bold;
  font-size: 1.5rem;
}

.profile__info__field {
  margin-top: 20px;
}

.profile__info__icon {
  font-size: 1.5rem;
  padding: 10px;
  background: rgba(255, 166, 0, 0.529);
  border-radius: 25px;
  cursor: pointer;
}

.save__profile__btn {
  background-color: orange;
  border: none;
  border-radius: 0 0 40px 40px;
  padding: 10px 20px;
  color: white;
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  height: 70px;
  left: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.profile__btn__overlay {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  left: 0;
  z-index: 20;
  background-color: #404040;
  transition: 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save__profile__btn:hover .profile__btn__overlay {
  bottom: 0;
}

.profile__btn__overlay__icon {
  position: relative;
  animation: move 2s infinite alternate linear;
  /* transform: rotateZ(10deg); */
}

@keyframes move {
  0% {
    left: -2.5px;
    top: -2px;
    transform: rotateZ(0deg);
  }

  25% {
    left: 2.5px;
    top: 0;
    transform: rotateZ(10deg);
  }

  50% {
    left: -2.5px;
    top: 0;
    transform: rotateZ(0deg);
  }

  75% {
    left: 0;
    top: 2px;
    transform: rotateZ(10deg);
  }

  100% {
    left: 2.5px;
    top: 0;

    transform: rotateZ(0deg);
  }
}

@media (max-width: 700px) {
  .profile__info__field {
    margin-top: 5px;
  }
  .profile__main {
    margin-top: 0px;
  }
  .cont_margin {
    margin-top: 50px;
  }
  .profile__info {
    width: 100%;
    box-sizing: border-box;
  }
  .profile__info__fields {
    box-sizing: border-box;
    padding: 20px 22px 75px 27px;
    width: 100%;
    /* display: block; */
  }
  .profile {
    /* text-align: center; */
  }
}
