.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}
@media (max-width: 991px) {
  .footer {
    display: block;
  }
  .footer__contact {
    padding: 1rem 0;
  }
}

.footer__main {
  width: 50%;
}

.footer__main img {
  margin-bottom: 1rem;
}
.footer__main p {
  color: #686868;
}
.footer__contact h3 {
  margin-bottom: 1.5rem;
}

.contact__block {
  display: flex;
  margin-bottom: 1rem;
}

.contact__block p {
  margin-left: 0.5rem;
}
.footer__rights {
  padding: 20px 0;
}
.footer__rights p {
  text-align: center;
  color: #686868;
  text-transform: capitalize;
}
.footer__info a {
  color: #000;
  margin-bottom: 5pxs;
}
