.main_header {
  position: relative;
  background-color: #222222cb;
  width: 100%;
}

.main_header::after {
  content: "";
  background-image: url("../../assets/background.02d23a6f.webp");
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
}

.search {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
}

.search h1 {
  margin-bottom: 14px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.search h3 {
  font-family: "Roboto", sans-serif;
  color: #aeaeae;
  font-weight: lighter;
}

.search input {
  width: 60%;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

.search__main {
  padding: 7px;
  display: flex;
  margin-top: 30px;
  background-color: #fff;
  width: 50%;
  border-radius: 30px;
  overflow: hidden;
  height: 50px;
}

.search__main input {
  border: none;
  flex-grow: 1;
  font-weight: 300;
  padding: 13px 0 13px 25px;
}
.search__main input:focus {
  outline: none;
}

.cards_container {
  background: rgb(248, 248, 248);
  padding: 70px 30px;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}

.cards_container h2 {
  text-align: center;
  font-weight: 300;
  position: relative;
  font-size: 1.8rem;
  padding-bottom: 14px;
}
.cards_container h2::after {
  content: "";
  width: 5%;
  height: 2px;
  background: #f7a619;
  position: absolute;
  left: 47.5%;
  bottom: 0;
}

.cards_container h4 {
  text-align: center;
  font-weight: 200;
  margin-top: 20px;
  color: #656565;
}

.subtitle {
  text-align: center;
}

@media (max-width: 650px) {
  .search {
    padding: 40px 30px 0px 30px;
  }
  .search__main {
    width: 100%;
  }
  .search__main > input::placeholder {
    color: #404040;
  }
  .search__main input {
    padding: 13px 0 13px 15px;
  }
}
.container {
  max-width: 1200px;
  margin: auto;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 100%;
}

.products__container {
  display: flex;
  margin-top: 40px;
}

.products {
  flex-basis: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding-right: 5%;
  transition: 0.5s;
}

.filter__title {
  display: flex;
  justify-content: space-between;
}

.filter__title span {
  font-size: 1.5rem;
  font-weight: bold;
}

.filter__items {
  margin-top: 20px;
}

.filter__checkboxes {
  margin: 0.6rem 0 0.6rem;
  text-transform: capitalize;
}

.filter__checkboxes .checkbox__container {
  margin-bottom: 0.4rem;
}

.clear__filter {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 15px;
}

.products__filter {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff8f8;
  max-height: 290px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.043), 0 10px 10px rgba(0, 0, 0, 0.023);
}

.filter__category {
  margin: 5px 0;
}

.products__container {
  display: flex;
  justify-content: space-between;
}

/* .catd */

.change__view__icon {
  transition: 0.5s;
  font-size: 33px;
}

/* @media(na) */

@media (max-width: 1200px) {
  .header {
    width: 90%;
    margin: 0 auto;
  }
  .products__container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .products__container {
    flex-direction: column-reverse;
    padding: 10px;
    margin-top: 0;
  }
  .products {
    padding-right: 0px;
  }
}
