@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.header {
  border-bottom: 1px solid #ccc;
  padding: 15px 5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 90%;
  z-index: 100;
  height: 50px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.header__background {
  background-color: #404040;
}
.header__left {
  display: flex;
  flex-grow: 1;
}

.img_link {
  margin-top: -5px;
}

.content {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}
.links {
  margin-left: 5%;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
}

.link {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  padding: 7px 15px;
  font-size: 1rem;
  margin-left: 25px;
}
.active {
  background: #f7a619;
  color: #fff;
  border-radius: 15px;
}
/* .header__login {
} */
.flag_image {
  width: 25px;
}

.icon {
  margin-right: 10px;
}

.flag_container {
  padding: 10px 0;
  /* display: -webkit-flex;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 700px) {
  .content {
    display: none;
  }
}

@media (min-width: 700px) {
  .burger {
    display: none;
  }
}

.sideLink {
  padding: 15px 0;
}

.sideLink > a {
  text-decoration: none;
  color: white;
}

.burger {
  width: 3.625rem;
  height: 100%;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1150;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* .burger:hover .burger__btn,
.burger burger__btn:before,
.burger burger__btn:after {
  opacity: 70%;
} */
.burger.phone {
  height: 4rem;
}
.burger__btn {
  width: 2rem;
  height: 0.14rem;
  position: absolute;
  top: 2.5rem;
  z-index: 100;
  background-color: white;
  transition: 0.2s linear;
}
@media (max-width: 991px) {
  .burger__btn {
    background-color: white;
  }
}

.burger__btn.phone {
  display: none;
  background-color: #fff;
}
@media (max-width: 565px) {
  .burger__btn.phone {
    display: block;
  }
}
.burger__btn:before,
.burger__btn:after {
  content: "";
  width: 2rem;
  height: 0.14rem;
  position: absolute;
  right: 0;
  z-index: 100;
  background-color: inherit;
}
.burger__btn:before {
  top: 0.7rem;
}
.burger__btn:after {
  bottom: 0.7rem;
}
.burger__btn.index {
  background-color: #fff;
}
@media (max-width: 991px) {
  .burger__btn.index {
    background-color: #000;
  }
}

.sidebar {
  background-color: #404040;
  width: 50%;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
}

.sub__sidebar {
  height: 50%;
  color: black;
  margin-top: 100px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.cart__counter {
  border-radius: 25px;
  padding: 2px 7px;
  position: absolute;
  background: #d6873b;
  color: white;
  margin-left: 5px;
  transition: 0.1s;
}

.menu_color {
  background-color: #404040;
}
.menu_hidden,
.exit_hidden {
  visibility: hidden;
  display: none;
}

.menu_width {
  width: 30% !important;
  z-index: 0 !important;
}

.btnX {
  background-image: url("../../assets/close.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 46px;
}
.header__link {
  color: white;
  text-decoration: none;
}
