.container {
  align-items: center;
  justify-content: center;
  display: flex;
  display: -webkit-flex;
  background: rgb(249, 242, 242);
  height: 100vh;
}
.content {
  width: 600px;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: column;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 10px;
  padding-top: 60px;
}
.icon__container {
  background-color: forestgreen;
  padding: 70px 0;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.icon {
  font-size: 50px;
  padding: 18px;
  border-radius: 100px;
  border: 4px solid #fff;
  color: #fff;
  font-weight: lighter;
  margin: auto;
}

.main {
  background: #fff;
  width: 100%;
  padding: 40px 0;
}

.main h1,
.main h3 {
  text-align: center;
}

.button {
  width: 30%;
  min-width: 250px;
  margin: 20px auto 0;
  text-align: center;
  color: #fff;
  padding: 10px 10px;
  background: forestgreen;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 20px;
}
