.modal {
  position: absolute;
  visibility: hidden;
  height: 50px;
  right: 0;
  top: -200px;
  transition: 0.5s;
  z-index: 10000000;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 2rem;
  color: #fff;
  margin-right: 15px;
}

.modal h4,
.modal span {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
}

.modal span {
  font-weight: bold;
  letter-spacing: 1px;
}

.error {
  background: rgb(250, 46, 46);
}

.default {
  background-color: aqua;
}

.active {
  visibility: visible;
  top: 110px;
}

@media (max-width: 500px) {
  .modal {
    width: 100%;
    box-sizing: border-box;
  }
}
