.products__container {
  display: flex;
  margin-top: 40px;
}

.products {
  flex-basis: 85%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  transition: 0.5s;
}

.filter__items {
  margin-top: 20px;
}

.filter__checkboxes {
  margin: 0.6rem 0 0.6rem;
  text-transform: uppercase;
}

.filter__checkboxes .checkbox__container {
  margin-bottom: 0.4rem;
}

.products__container {
  display: flex;
  justify-content: space-between;
}

/* .catd */

.change__view__icon {
  transition: 0.5s;
  font-size: 33px;
}

/* @media(na) */

@media (max-width: 1200px) {
  .header {
    width: 90%;
    margin: 0 auto;
  }
  .products__container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .products__container {
    flex-direction: column-reverse;
    padding: 10px;
    margin-top: 0;
  }
}
